.container {
  text-align: center;

  h1 {
    color: #fff;
  }

  h2 {
    color: rgba(255, 255, 255, 0.7);
    margin: 1rem 0rem;
  }

  .chip {
    margin: 0.2rem;
    background-color: #fff;
    text-transform: uppercase;
  }
}
