.container {
  text-align: center;

  h1 {
    color: #fff;
  }

  p {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
  }

  .articles-btn {
    display: flex;
    justify-content: center;

    top: 0;
    right: 0;
    width: 100%;
    position: fixed;
    padding-top: 3rem;

    a {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.1em;
      font-size: 1.2rem;

      display: inline-block;
      padding: 15px 20px;
      position: relative;
    }
    a:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    a:hover:after {
      width: 100%;
      left: 0;
    }
  }
}
