.outer-container {
  background-color: #17a589;
  height: 100%;
  text-align: center;

  .inner-container {
    padding-bottom: 5rem;

    h1 {
      color: #fff;
      font-family: 'Bebas Neue';
    }

    .cards {
      padding-top: 1rem;

      @media (min-width: 661px) {
        padding-left: 8rem;
        padding-right: 8rem;
      }

      .actions {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
      }
    }
  }
}
