.outer-container {
  background-color: #17a589;
  height: 100%;
  text-align: center;

  .inner-container {
    padding-bottom: 5rem;

    h1 {
      color: #fff;
      font-family: 'Bebas Neue';
    }
  }
}
