.content {
    padding: 1rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    text-align: start;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;

        .date {
            color: #888;
        }
    }

    .sub-heading {
        margin-bottom: 0.5rem;
        text-align: right;
        color: #bbb;
    }
}
