.container {
    margin-top: 2rem;
    text-align: center;

    .social-media-links {
        display: flex;
        justify-content: center;
        gap: 2rem;
    
        .container {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            text-decoration: none;
        }
    
        .icon {
            height: 1.5rem;
        }
    
        .twitter-container {
            color: #1DA1F2;
        
            .twitter-icon {
                color: #1DA1F2;
            }
        }
        
        .linkedin-container {
            color: #0e76a8;
        
            .linkedin-icon {
                color: #0e76a8;
            }
        }
    }

    .content {
        .date {
            color: #888;
        }
    }
}
