html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
}

hr {
  display: inline-block;
  height: 0.5rem;
  width: 20rem;
  border: 0;
  border-top: 0.10rem solid #ccc;
  margin: 1em 0;
  padding: 0;
}
