.container {
  text-align: center;
  margin: 0rem 2.5rem;

  h1 {
    color: #fff;
    padding-bottom: 1rem;

    font-size: 2.5rem;
    @media (min-width: 661px) {
      font-size: 4rem;
    }
  }

  .menu {
    margin-top: 0.2rem;

    a {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.1em;

      font-size: 1.1rem;
      @media (min-width: 661px) {
        font-size: 1.5rem;
      }

      display: inline-block;
      padding: 15px 20px;
      position: relative;

      &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      &:hover:after {
        width: 100%;
        left: 0;
      }
    }

    .icon {
      color: rgba(255, 255, 255, 0.7);
    }

    .link {
      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
  }
}
